<head>
    <title>GIRITO - Página Principal</title>
</head>

{% extends "layout.html" %}
{% block content %}

<!-- NEEDS TO BE WRAPPED IN NAVBAR CLASS FOR DROPDOWN TO WORK -->
<div class="container">
    <div class="column">
        <div class="form-group">
            {% for sf in stored_files %}
                <div class="input-group" style="padding-top: 50px;">
                    <div class="column" style="text-align: left;">
                        <a href="{{ url_for('post.post', sf_id=sf._id) }}"><strong>{{ sf.title }}</strong></a>
                    </div>
                </div>
                {% if sf.type == 'img' %}
                    <div class="form-group" style="margin-bottom: 0px;">
                        <img src="{{ url_for('static', filename=sf.file_id + '.png') }}" width="440px" height="280px" alt="Image">
                    </div>
                {% elif sf.type == 'vid' %}
                    <div class="form-group" style="margin-bottom: 0px;">
                        <video width="440px" height="280px" controls>
                            <source src="{{ url_for('static', filename=sf.file_id + '.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                {% endif %}
                <div class="form-group" style="text-align: right;">
                    <p style="background-color: #781C3C; padding: 10px; color: white;">{{ sf.summary }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

{% endblock content %}